{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Message list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Message</th>
                <th>Personid</th>
                <th>Aboutcourseid</th>
                <th>Aboutpersonid</th>
                <th>Aboutlessonid</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.subject }}</a></td>
                <td>{{ entity.message }}</td>
                <td>{{ entity.personId }}</td>
                <td>{{ entity.aboutCourseId }}</td>
                <td>{{ entity.aboutPersonId }}</td>
                <td>{{ entity.aboutLessonId }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('message_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('message_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
